@{
    Layout = "_LayoutAdmin";
}
<h1 class="None">Araba Ayarları</h1>
<div id="gridContainer" dx-data-grid="dataGridOptions"></div>
<script type="text/javascript">
    var OrionApp = angular.module('OrionApp', ['dx'])
        .controller('OrionController', function ($scope) {
            var Url = "";
            var settingStore = new DevExpress.data.CustomStore({
                key: "Id",
                load: function () {
                    return sendRequest("/getcars");
                },
                insert: function (values) {
                    return sendRequest("@Url.Action("OrionSave","Admin")", "POST", {
                        values: JSON.stringify(values),
                        tablo: "Car"
                    });
                },
                update: function (key, values, tablo) {
                    return sendRequest("@Url.Action("OrionSave","Admin")", "POST", {
                        key: key,
                        values: JSON.stringify(values),
                        tablo: "Car"
                    });
                },
                remove: function (key) {
                    return sendRequest("@Url.Action("OrionDelete","Admin")", "POST", {
                        key: key,
                        tablo: "Car"
                    });
                }
            });
            $scope.refreshMode = "reshape";
            $scope.requests = [];

            $scope.dataGridOptions = {
                bindingOptions: {
                    "editing.refreshMode": "refreshMode"
                },
                dataSource: settingStore,
                repaintChangesOnly: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                filterRow: { visible: true },
                filterPanel: { visible: true },
                headerFilter: { visible: true },
                allowColumnResizing: true,
                columnAutoWidth: true,
                width: "100%",
                paging: {
                    pageSize: 10
                },
                columnChooser: {
                    enabled: false,
                    mode: "dragAndDrop" // or "select"
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [25, 50, 75],
                    showInfo: true
                },
                editing: {
                    mode: "popup",
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true,
                    popup: {
                        title: "Araba Ayarları",
                        showTitle: true,
                        width: "100%",
                        height: "100%",
                        position: {
                            my: "top",
                            at: "top",
                            of: window
                        }
                    },
                    form: {
                        itemType: "group",
                        width: "100%",
                        height: "100%",
                        colCount: 1,
                        items: [
                            {
                                itemType: "tabbed",
                                tabPanelOptions: {
                                    deferRendering: false,
                                    loop: true,
                                    animationEnabled: true,
                                    swipeEnabled: false
                                },
                                tabs: [
                                    {
                                        colCount: 2,
                                        title: "Araba Bilgileri",
                                        items: [
                                            { dataField: "CarName" },
                                            { dataField: "BodyStyle" },
                                            { dataField: "Color" },
                                            { dataField: "Engine" },
                                            { dataField: "Gear" },
                                            { dataField: "FuelType" },
                                            { dataField: "CarPrice" },
                                            { dataField: "CarDownPrice" },
                                            { dataField: "Condition" },
                                            { dataField: "Seats" },
                                            { dataField: "LargeImageFile" },
                                            { dataField: "LargeImage", visible: false }
                                        ]
                                    },
                                    {
                                        colCount: 1,
                                        title: "Detaylı Bilgiler",
                                        items: [{ dataField: "Overview" }]
                                    },
                                    {
                                        colCount: 1,
                                        title: "Araç Konumu",
                                        items: [{ dataField: "Location" }]
                                    },
                                ]
                            }]
                    }
                },
                onDataErrorOccurred(e) {
                    this.dataErrorMessage = "The server returned an error: " + `"${e.error.httpStatus} => ${e.error.message}".`;
                },
                onEditorPreparing: function (e) {

                    if (e.parentType === "dataRow" && e.dataField === "LargeImageFile") {
                        try {

                            e.editorName = "dxFileUploader";
                            e.editorOptions.uploadMode = "instantly";
                            e.editorOptions.name = "myFile";
                            e.editorOptions.uploadUrl = "@Url.Action("UploadFile", "Admin")";
                            e.editorOptions.onUploaded = (args) => {
                                var result = args.request.response;
                                const rowIndex = e.row.rowIndex
                                e.component.cellValue(rowIndex, "LargeImage", result);
                                DevExpress.ui.notify("Logonuz yüklendi", "success", 5000);
                            }
                        } catch (e) {

                        }
                    }
                },
                columns: [
                    {
                        dataField: "Id",
                        caption: "Kayıt No",
                        width: 100
                    },
                    {
                        dataField: "CarName",
                        caption: "Ad / Model",
                        width: 450
                    },
                    {
                        dataField: "CarPrice",
                        caption: "Günlük Kiralama Ücreti",
                        width: 450,
                        visible: false
                    },
                    {
                        dataField: "CarDownPrice",
                        caption: "İndirimli Ücret ( İsterseniz )",
                        width: 450,
                        visible: false
                    },
                    {
                        dataField: "BodyStyle",
                        caption: "Kasa Tipi",
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: [
                                { "Name": "Sedan", "Value": "Sedan" },
                                { "Name": "Hatchback", "Value": "Hatchback" },
                                { "Name": "SUV", "Value": "SUV" },
                                { "Name": "Coupe", "Value": "Coupe" },
                                { "Name": "Pick Up", "Value": "Pick Up" },
                                { "Name": "Minivan", "Value": "Minivan" },
                                { "Name": "Panelvan", "Value": "Panelvan" },
                            ],
                            displayExpr: "Name",
                            valueExpr: "Value"
                        }
                    },
                    {
                        dataField: "Color",
                        caption: "Renk"
                    },
                    {
                        dataField: "Engine",
                        caption: "Motor Hacmi / Gücü",
                        visible: false
                    },
                    {
                        dataField: "Gear",
                        caption: "Vites",
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: [
                                { "Name": "Manuel", "Value": "Manuel" },
                                { "Name": "Otomatik", "Value": "Otomatik" },
                                { "Name": "Triptonik", "Value": "Triptonik" },
                                { "Name": "Yarı Otomatik", "Value": "Yarı Otomatik" }
                            ],
                            displayExpr: "Name",
                            valueExpr: "Value"
                        }
                    },
                    {
                        dataField: "FuelType",
                        caption: "Yakıt Tipi",
                        editorType: "dxSelectBox",
                        editorOptions: {
                            dataSource: [
                                { "Name": "Benzin", "Value": "Benzin" },
                                { "Name": "Dizel", "Value": "Dizel" },
                                { "Name": "LPG", "Value": "LPG" },
                                { "Name": "Elektrik", "Value": "Elektrik" }
                            ],
                            displayExpr: "Name",
                            valueExpr: "Value"
                        }
                    },
                    {
                        dataField: "Condition",
                        caption: "Durum",
                        visible: false
                    },
                    {
                        dataField: "Seats",
                        caption: "Koltuk"
                    },
                    {
                        dataField: "LargeImage",
                        caption: "Araba Görseli",
                        visible: false
                    },
                    {
                        dataField: "LargeImageFile",
                        caption: "Görsel",
                        setCellValue: function (rowData, value) {
                            rowData.Logo = value[0].name;
                            DevExpress.ui.notify(value[0].name + " başarılı bir şekilde yüklendi.", "success", 2000);
                            //rowData.File = null;
                        },
                        visible: false
                    },
                    {
                        dataField: "Overview", colSpan: 4, editorType: "dxHtmlEditor",
                        visible: false,
                        editorOptions: {
                            toolbar: {
                                items: [
                                    "undo", "redo", "separator",
                                    {
                                        formatName: "size",
                                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                    },
                                    {
                                        formatName: "font",
                                        formatValues: ["Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana"]
                                    },
                                    "separator", "bold", "italic", "strike", "underline", "separator",
                                    "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                    {
                                        formatName: "header",
                                        formatValues: [false, 1, 2, 3, 4, 5]
                                    }, "separator",
                                    "orderedList", "bulletList", "separator",
                                    "color", "background", "separator",
                                    "link", "image", "separator",
                                    "clear", "codeBlock", "blockquote", "table"
                                ]
                            },
                            mediaResizing: {
                                enabled: true
                            },
                            height: 400
                        }
                    },
                    {
                        dataField: "Location", colSpan: 4, editorType: "dxHtmlEditor",
                        visible: false,
                        editorOptions: {
                            toolbar: {
                                items: [
                                    "undo", "redo", "separator",
                                    {
                                        formatName: "size",
                                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                    },
                                    {
                                        formatName: "font",
                                        formatValues: ["Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana"]
                                    },
                                    "separator", "bold", "italic", "strike", "underline", "separator",
                                    "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                    {
                                        formatName: "header",
                                        formatValues: [false, 1, 2, 3, 4, 5]
                                    }, "separator",
                                    "orderedList", "bulletList", "separator",
                                    "color", "background", "separator",
                                    "link", "image", "separator",
                                    "clear", "codeBlock", "blockquote", "table"
                                ]
                            },
                            mediaResizing: {
                                enabled: true
                            },
                            height: 400
                        }
                    }
                ],
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                text: "Yenile",
                                onClick: function () {
                                    dataGrid.refresh();
                                }
                            }
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "add",
                                text: "Ekle",
                                onClick: function () {
                                    dataGrid.addRow();
                                }
                            }
                        }
                    );
                },

            };

            $scope.buttonOptions = {
                text: "Clear",
                onClick: function () {
                    $scope.requests = [];
                }
            };


            function sendRequest(url, method, data) {
                var d = $.Deferred();

                method = method || "GET";

                //logRequest(method, url, data);

                $.ajax(url, {
                    method: method || "GET",
                    data: data,
                    cache: false,
                    xhrFields: { withCredentials: true }
                }).done(function (result) {
                    d.resolve(method === "GET" ? result.Data : result.Data);
                }).fail(function (xhr) {
                    d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                });

                return d.promise();
            }
        });


    DevExpress.localization.locale(navigator.language || navigator.browserLanguage);

</script>
